# Dependencies
node_modules/

# Build artifacts
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env

# Optional editor/OS files
.DS_Store
*.suo
*.user